.background{
	background-image: url(../images/login.jpg)
}
.font{
	color:#fff;
}
.admin-login{
	margin: 0 auto;
	margin-top: 100px;
	width: 300px;
	height: 300px;
}
.admin-top{
	width: 100%;
	height: 100px;
	position: relative;
}
.top-background{
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100px;
}
.wite{
	position: relative;
	margin-top: 25px;
	background-color: #fff;
	opacity: .85; /* Standard: FF gt 1.5, Opera, Safari */
    filter: alpha(opacity=85); /* IE lt 8 */
    -ms-filter: "alpha(opacity=85)"; /* IE 8 */
    -khtml-opacity: .85; /* Safari 1.x */
    -moz-opacity: .85; /* FF lt 1.5, Netscape */
}
.gray{
	background-color: #555;
	opacity: .75; /* Standard: FF gt 1.5, Opera, Safari */
    filter: alpha(opacity=75); /* IE lt 8 */
    -ms-filter: "alpha(opacity=75)"; /* IE 8 */
    -khtml-opacity: .75; /* Safari 1.x */
    -moz-opacity: .75; /* FF lt 1.5, Netscape */
}
.home{
	z-index: 999;
	width: 100px;
	height: 35px;
	position: absolute;
	top: 25px;
	left: 15px;
}
.user-info{
	position: absolute;
	font-size: 15px;
	right: 50px;
	top:15px;
}
.mian{
	width: 100%;
	min-height: 800px;
}
.model{
	width: 150px;
	height: 150px;
}
.node-list{
	position: relative;
	width: 120px;;
	height: 100%;
}
.node-list-but{
	position: absolute;
	left:5px;
	width: 110px;
	margin-top: 5px;
}
.min-height{
	min-height: 400px;
}
.page{
	width: 200px;
	margin: 0 auto;
}
